// color
$color_white = #fff
$color_black = #000
$color_blue = #0041f3
$color_yellow = #fff600
$color_gray = #e3e5ec


// bg color
$bgColor_default = $color_white
$bgColor_gallery = $color_gray
$bgColor_backIndex = $color_blue
$bgColor_link = $color_yellow
$bgColor_eyecatch = #d4e2f2
$bgColor_gallery = $color_gray
$bgColor_footer = $color_gray

// text color
$textColor_default = $color_blue
$textColor_inverse = $color_white
$textColor_link = $color_blue
$textColor_eyecatch = $color_yellow
$textColor_introduction = $color_white
$textColor_footer = $color_white


// border color
$borderColor_default = $color_black
$borderColor_credit = $color_gray


// font size
$fontSize_default = rem(14px)
$fontSize_backIndex = rem(15px)
$fontSize_infoTitle = rem(11px)
$fontSize_title = rem(20px)
$fontSize_creditRole = rem(11px)
$fontSize_creditName = rem(22px)
$fontSize_footer = rem(11px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.35


// letter spacing
$letterSpacing_default = 0.05em


// width
$width_base = 940px