// color
$color_white = #fff
$color_black = #000
$color_blue = #0041f3
$color_yellow = #fff600
$color_gray = #e3e5ec


// bg color
$bgColor_default = $color_white
$bgColor_gray = $color_gray
$bgColor_link = $color_yellow


// text color
$textColor_default = $color_blue
$textColor_inverse = $color_white
$textColor_link = $color_blue


// border color
$borderColor_default = $color_black


// font size
$fontSize_default = rem(14px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.35


// letter spacing
$letterSpacing_default = 0.05em


// width
$width_base = 940px