@import '_base'

@import 'components/_header'
@import 'components/_eyecatch'
@import 'components/_introduction'
@import 'components/_gallery'
@import 'components/_share'
@import 'components/_info'
@import 'components/_credit'
@import 'components/_footer'