.credit
  padding 0 0 $padding_section

  &__inner
    width $width_base
    margin 0 auto

  &__border
    margin 80px auto 70px
    width 100px
    height 2px
    background-color $borderColor_credit
    border none

  &__title
    font-size $fontSize_title
    text-align center
    margin 0


.credit__list
  margin 45px 0 0
  text-align center

  &Role
    font-size $fontSize_creditRole
    margin-top 40px

    &:first-child
      margin-top 0

  &Name
    margin 18px 25px 0
    display inline-block
    font-size rem(22px)
    font-weight bold


+media-query($mq_tablet)
  .credit
    padding 0 0 $padding_section_tablet

    &__inner
      width 100%
      padding 0 $padding_tablet

    &__border
      margin $padding_section_tablet auto ($padding_section_tablet - 10)
      width 80px

  .credit__list
    margin-top 30px

    &Role
      margin-top 30px

    &Name
      margin-top 10px
      font-size rem(20px)


+media-query($mq_smartphone)
  .credit
    padding 0 0 $padding_section_smartphone

    &__inner
      padding 0 $padding_smartphone

    &__border
      margin $padding_section_smartphone auto ($padding_section_smartphone - 10)
      width 40px

  .credit__list
    margin-top 20px

    &Role
      margin-top 20px

    &Name
      margin 5px 10px 0