@keyframes model_floating
  0%
    transform translate3d(-50%, -0.25%, 0)
  50%
    transform translate3d(-50%, 0.75%, 0)
  100%
    transform translate3d(-50%, -0.25%, 0)


@keyframes loading_flash
  0%
    opacity 0.4
  49%
    opacity 0.4
  50%
    opacity 1
  99%
    opacity 1
  100%
    opacity 0.4


@keyframes drag_blink
  0%
    opacity 0
  50%
    opacity 1
  100%
    opacity 0


.eyecatch
  cursor pointer
  position relative
  height 780px
  background-color $bgColor_eyecatch
  text-align center
  background url('../images/eyecatch_bg.jpg') no-repeat 50% 50%
  // background url('//file.brdr.jp/dncngrl_01/images/eyecatch_bg.jpg') no-repeat 50% 50%
  background-size cover
  overflow hidden


  &__loading
    &Loader,
    &Text
      display none
      color $textColor_eyecatch
      position absolute
      text-align center
      width 100%
      top 50%
      transform translateY(-50%)
      line-height 1

    &Loader
      font-size rem(80px)
      font-style italic
      font-weight bold
      animation loading_flash 125ms linear infinite

    &Text
      font-size rem(120px)
      font-weight bold


  &__model
    pointer-events none
    position absolute
    width 926px
    height 800px
    left 50%
    top -5%
    transform translate3d(-50%, -0.25%, 0)
    opacity 0

    &.is-animation
      animation model_floating 10s ease infinite

    &Inner
      position relative
      width 100%
      height 100%
      overflow hidden

    &List
      position absolute
      top 0
      left 0
      line-height 0

      img
        width 100%
        height auto


  &__text
    pointer-events none
    color $textColor_eyecatch
    font-weight normal
    position absolute
    width 100%
    top 48%
    transform translateY(-50%)
    margin 0
    opacity 0

    &Inner
      display inline-block
      vertical-align middle
      position relative

    &Top
    &Middle
    &Bottom
      text-align center
      line-height 1

    &Top
      display block
      font-style italic
      font-size rem(40px)

    &Middle
      font-weight bold
      display inline-block
      font-size rem(120px)
      margin-top 20px
      position relative

      &:after
        content ''
        position absolute
        left 0
        bottom -1px
        width 100%
        height 4px
        background-color $textColor_eyecatch

    &Bottom
      display block
      font-size rem(20px)
      margin-top 30px


  &__subText
    position absolute
    bottom 50px
    width 100%
    z-index 2
    opacity 0
    font-size rem(25px)
    line-height $lineHeight_title

    a
      color $textColor_eyecatch
      background none
      font-weight bold


  &__drag
    position absolute
    left 25px
    bottom 25px
    width 82px
    height 40px
    hide-text()
    background url('../images/eyecatch_drag.png') no-repeat
    background-size 82px 40px
    opacity 0
    display none

    &.is-animation
      animation drag_blink 3s ease infinite
      display block

    +retina-query(only screen, 2)
      background-image url('../images/eyecatch_drag-2x.png')


body.is-draggable
  .eyecatch
    cursor move

    &__model
      z-index 1
      animation-play-state paused

    &__text
      color transparent
      text-shadow 0px 0px 40px $textColor_eyecatch

      &Middle
        &:after
          background-color transparent
          box-shadow 0px 0px 60px $textColor_eyecatch

    &__drag
      // velocityでフェードイン時にdisplay:blockしちゃってるので、
      // 仕方なく!important指定
      display none !important


+media-query($mq_tablet)
  .eyecatch
    height 600px

    &__loading
      &Loader
        font-size rem(50px)

      &Text
        font-size rem(80px)

    &__model
      width 695px
      height 600px

    &__text
      &Top
        font-size rem(30px)

      &Middle
        font-size rem(100px)
        margin-top 15px

        &:after
          display none

      &Bottom
        font-size rem(14px)
        margin-top 15px

    &__subText
      bottom 30px
      font-size rem(20px)


+media-query($mq_smartphone)
  .eyecatch
    height 400px
    cursor auto

    &__loading
      &Loader
        font-size rem(30px)

      &Text
        font-size rem(60px)

    &__model
      width 463px
      height 400px

    &__text
      &Top
        font-size rem(20px)

      &Middle
        font-size rem(50px)
        margin-top 10px

      &Bottom
        font-size rem(11px)
        margin-top 5px

    &__subText
      bottom 20px
      font-size rem(14px)
      padding 0 $padding_smartphone