.gallery
  background-color $bgColor_gallery
  padding 120px 0

  &__inner
    width $width_base
    margin 0 auto

  &__list
    list-style-type none
    margin 0
    padding 0

    &Item
      margin-top 60px
      line-height 0

      img
        width 100%
        height auto

      &:first-child
        margin-top 0