.header

  &__backIndex
    position absolute
    z-index 1
    top 0
    left 0
    display inline-block
    background-color $bgColor_backIndex
    color $textColor_inverse
    font-style italic
    font-size $fontSize_backIndex
    padding 13px 30px

  &__share
    position absolute
    z-index 1
    top 30px
    right 40px
    list-style-type none
    margin 0
    padding 0

    &Item
      display inline-block
      margin-left 15px