.info
  padding $padding_section 0 0

  &__inner
    width $width_base
    margin 0 auto

  &__box
    border 1px solid $textColor_default
    clearfix()

    &Title
      text-align center
      margin 0
      padding 40px 0
      border-bottom 1px solid $textColor_default
      font-size $fontSize_title

    &Content
      display table
      table-layout fixed
      width 100%

      &Top
        display table-cell
        vertical-align top

      &Bottom
        display table-cell
        vertical-align top
        border-left 1px solid $textColor_default


.info__list
  display inline-block
  margin 0 auto
  padding 55px 0
  position relative
  left 50%
  transform translateX(-50%)
  clearfix()

  &Title
    float left
    width 80px
    clear both
    margin 5px 0
    font-size $fontSize_infoTitle
    padding-top 3px

  &Text
    float left
    margin 5px 0



+media-query($mq_tablet)
  .info
    padding $padding_section_tablet 0 0

    &__inner
      width 100%
      padding 0 $padding_tablet

    &__box
      &Title
        padding 25px 0

      &Content
        &Top
          display block

        &Bottom
          display block
          border-left none
          border-top 1px solid $textColor_default


  .info__list
    padding 25px 0
    vertical-align middle


+media-query($mq_smartphone)
  .info
    padding $padding_section_smartphone 0 0

    &__inner
      width 100%
      padding 0 $padding_smartphone

    &__box
      &Title
        padding 20px 0

      &Content
        &Top
          display block

        &Bottom
          display block
          border-left none
          border-top 1px solid $textColor_default

  .info__list
    padding 20px 0
    text-align center

    &Title
      float none
      width auto

    &Text
      float none