.share
  list-style-type none
  margin 0
  padding 0
  height 20px
  overflow hidden

  &__item
    display inline-block
    vertical-align top
    margin-left 15px
    font-size $fontSize_share

    &:first-child
      margin-left 0

    a
      color transparent
      background none

    &--fb
      .fb-like.fb_iframe_widget > span
        vertical-align top !important
