ul.share
  li.share__item
    - var text = 'Dancing Girl. Vol.01 Orchid & Violet | C89 1日目東テ17a'
    - var encoded = 'Dancing%20Girl%2e%20Vol%2e01%20Orchid%20%26%20Violet%20%7c%20C89%201%e6%97%a5%e7%9b%ae%e6%9d%b1%e3%83%8617a'
    - var hashtags = 'dg01,C89'
    a(target='_blank', href='http://twitter.com/share?url=http://dncngrl.com/dg01&text=#{encoded}&hashtags=#{hashtags}') Share on Twitter
  li.share__item
    a(target='_blank', href='http://www.facebook.com/share.php?u=http://dncngrl.com/dg01') Share on Facebook