ul.share
  li.share__item.share__item--tw
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="dg01,C89">Tweet</a>
  li.share__item.share__item--fb
    <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
  li.share__item.share__item--gp
    <div class="g-plusone" data-size="medium" data-annotation="none"></div>