doctype html
html(lang='ja', prefix="og: http://ogp.me/ns#")
  head
    meta(charset='UTF-8')
    title Dancing Girl. Vol.01 Orchid & Violet | C89 1日目 東テ17a

    meta(name="description", content="「アイカツ！」の二次創作イラスト集「Dancing Girl. Vol.01 Orchid & Violet」の特設サイト。")
    meta(name="robots", content="index,follow")
    meta(name="viewport", content="width=1024")

    meta(property="og:title", content="Dancing Girl. Vol.01 Orchid & Violet | C89 1日目 東テ17a")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://dncngrl.com/dg01")
    meta(property="og:description", content="「アイカツ！」の二次創作イラスト集「Dancing Girl. Vol.01 Orchid & Violet」の特設サイト。")
    meta(property="og:site_name", content="Dancing Girl.")
    meta(property="og:image", content="")
    meta(property="og:locale", content="ja_JP")
    meta(name="twitter:card", content="summary_large_image")

    link(rel='stylesheet', href='assets/stylesheets/style.css')
    script(src='assets/javascripts/bundle.js')
  body
    header.header
      a(href='http://dncngrl.com', target='_blank').header__backIndex Back to dncngrl.com
      .header__share
        include _share


    .eyecatch#eyecatch
      .eyecatch__loading
        .eyecatch__loadingLoader#loadingLoader LOADING
        .eyecatch__loadingText#loadingText01 Dancing Girl.
        .eyecatch__loadingText#loadingText02 Vol.01

      .eyecatch__model#model
        .eyecatch__modelInner#modelInner
          .eyecatch__modelList#modelList

      h1.eyecatch__text#text
        span.eyecatch__textInner#textInner
          span.eyecatch__textTop Dancing Girl. Vol.01
          span.eyecatch__textMiddle Orchid &amp; Violet
          span.eyecatch__textBottom 2015 Winter -Aikatsu! Illustrations-

      .eyecatch__subText#subText
        a(href='https://webcatalog-free.circle.ms/Circle/12311990', target='_blank') 2015.12.29 Comic Market 89 1日目 東テ17a “Dancing Girl.”


    .introduction
      .introduction__inner
        div.introduction__title
          h2.introduction__titleText Introduction
          .introduction__titleBg01
          .introduction__titleBg02
          .introduction__titleBg03

        .introduction__text
          p あの「Soleil」のメンバーにして、ファッションブランド「SPICY AGEHA」の専属モデル、「美しき刃」こと紫吹蘭。そして「Dancing Diva」の一員、「ステージに咲く氷の華」氷上スミレ。そんなクールにして可憐な2人が、もし女性ファッション誌の巻頭特集を飾ったら……。
          p 「Dancing Girl. Vol.01 Orchid &amp; Violet」は、そんなコンセプトで制作した、「アイカツ！」の二次創作イラスト集です。
          p まるで、ゲーム・アニメから現実世界へ飛び出してきたようなアイドル2人の活躍をぜひ、ご覧ください。


    .gallery
      .gallery__inner
        ul.gallery__list
          li.gallery__listItem
            img(src='assets/images/gallery/gallery_01.jpg', alt='gallery_01', width='1500', height='1000')
          li.gallery__listItem
            img(src='assets/images/gallery/gallery_02.jpg', alt='gallery_02', width='1500', height='1000')
          li.gallery__listItem
            img(src='assets/images/gallery/gallery_03.jpg', alt='gallery_03', width='1500', height='844')
          li.gallery__listItem
            img(src='assets/images/gallery/gallery_04.jpg', alt='gallery_04', width='1500', height='1125')


    .info
      .info__inner
        .info__box
          h2.info__boxTitle Item Information

          .info__boxContent
            .info__boxContentTop
              dl.info__list
                dt.info__listTitle 仕様
                dd.info__listText B5縦 フルカラー 16P
                dt.info__listTitle 頒布価格
                dd.info__listText 500円

            .info__boxContentBottom
              dl.info__list
                dt.info__listTitle 頒布場所
                dd.info__listText
                  | コミックマーケット89
                  br
                  a(href='https://webcatalog-free.circle.ms/Circle/12311990', target='_blank') - 1日目 東テ17a「Dancing Girl.」
                  br
                  a(href='https://webcatalog-free.circle.ms/Circle/12325105', target='_blank') - 1日目 東テ33a「Uncalms」


    .credit
      .credit__inner
        hr.credit__border

        h2.credit__title Credit

        .credit__top
          dl.credit__list
            dt.credit__listRole Concept / Illustration / Graphic Design / Web Design &amp; Develop
            dd.credit__listName
              a(href='http://brdr.jp', target='_blank') Ryo Nakae
            dt.credit__listRole Guest Illustration / Special Thanks
            dd.credit__listName
              a(href='http://daisukenagai.com', target='_blank') Daisuke Nagai
            dd.credit__listName
              a(href='https://jypg.net/futa', target='_blank') futa


    footer.footer
      .footer__copyright
        a(href='http://dncngrl.com', target='_blank').footer__copyrightTitle Dancing Girl.
        p.footer__copyrightText
          | &copy; DANCING GIRL. DESIGN AND ILLUSTRATION BY
          a(href='http://brdr.jp', target='_blank') RYO NAKAE

      .footer__share
        include _share


    div#fb-root
    div#snsButtons